body {
    font-family: sans-serif;
    /* background-color: #222; */
  }
  
  .slide {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  